/*
 *  ONE STYLE SHEET FOR ALL PAGES BECAUSE I
 *  DON'T KNOW WHAT EFFICIENT CSS LOOKS LIKE
 */


/*
 *  MAJOR PAGE ELEMENTS
 */

body {
    position: relative;
    background-color: #2a2a2a;
    font: 125%/150% "Courier" monospace;
    color: #eec;
    margin: auto;
    width: 1200px;
}

#wrapper {
    display: block;
    position: relative;
    margin: auto;
    text-align: center;
    clear: left;
}

#left-sidebar, #middle-column, #right-sidebar {
    display: block;
    position: relative;
    float: left;
    width: 20%;
    padding: .5em;
    text-align: center;
}

#middle-column {
    width: 50%;
    padding: 0 1.5em;
    border-left: 1px dashed white;
    border-right: 1px dashed white;
}


/* h1 tag is pretty much only used in header */
h1 {
    display: block;
    background-color: #dea;
    color: #253;
    text-align: center;
    min-width: 5em;
    width: 10%;
    padding: .5em;
    margin: 1.5em auto .5em auto;
    border: solid 8px #253;
    border-radius: 1.5em;
    clear: none;
}

h2 {
    color: #3f6;
    padding: 1em;
}

#middle-column h2 {
    color: #dfa;
}

/*
 *  TABLE ELEMENT FORMATTING
 *    Note: I could not prevent table elements
 *    from extending past their container element
 *    and I forgot to ask on Piazza. :( sorry
 */
table {
    position: relative;
    margin: auto;
    table-layout: fixed;
}

td {
    text-align: left;
}

td.prompt {
    text-align: right;

}


.error {
    color: red;
    font: 75%/100% "Tahoma" sans-serif;
}



/************ NEW STUFF BELOW ***************/

/* LINKS */
a:link, a:visited {
    color: #6e6;
    text-decoration: none;
}

a:hover, a:active {
    color: #ff6;
    text-decoration: underline;
}

#middle-column a:link {
    color: #9c9;
    text-decoration: none;
}

#middle-column a:visited {
    color: #bf9;
    text-decoration: none;
}

#middle-column a:link:hover, #middle-column a:active {
    color: #6f6;
    text-decoration: underline;
}

#middle-column a:visited:hover {
    color: #ccc;
    text-decoration: none;
}

/* LOGIN FORMATTING */
#login {
    color: #aec;
}

input[type=text], input[type=password] {
    background-color: #aca;
    color: #253;
    font-weight: bold;
    border-radius: .5em;
    margin: .5em;
}

/* NAVBAR FORMATTING */
#navigation {
    font-size: 90%;
    list-style-type: none;    
}

#navigation li {
    position: relative;
    float: left;
    margin: 0 2em;
    padding: 0 1.25em;
}

#navigation li a:link, #navigation li a:visited {
    color: white;
    text-decoration: none;
}

#navigation li a:hover, #navigation li a:active {
    color: #dfd;
    border-top: 1px dashed #aaa;
    border-bottom: 1px dashed #aaa;
}

/* BECAUSE CENTERED BULLETED LISTS LOOK TERRIBLE */
ul {
    text-align: left;
}

/* OLD CODE FROM WHEN I WAS GOING TO DO PLAYER VS. PLAYER */
.user-message {
    display: block;
    position: relative;
    background-color: #666;
    color: #0f0;
    font: 75%/100% "Courier" monospace;
    text-align: center;
    margin: auto auto 2em auto;
    padding: 1em;
    border: solid 0px #999;
    border-radius: 2em;
    min-width: 15em;
    max-width: 30em;
    width: 15%;
    clear: left;
}

/* LEFT SIDEBAR STYLING DURING GAMEPLAY */
.guess > span {
    font-size: xx-large;
    letter-spacing: .15em;
    line-height: 1.25em;
}

#play-area {
    font-size: x-large;
    text-transform: uppercase;
    color: #6f6;
}

#play-area *:focus {
    outline: none;
}

/* MIDDLE COLUMN STYLING DURING GAMEPLAY (USER GUESS) */
#guess-box {
    background-color: #2a2a2a;
    color: #ff0;
    font: 150%/100% "Courier" monospace;
    text-align: center;
    text-transform: uppercase;
    width: 4em;
    height: 1em;
    padding: .25em;
    border: solid 3px #6f6;
    margin-top: 1em;
    margin-bottom: .5em;
}

#guess-error {
    font-size: smaller;
    color: #f11;
}

#guess-button {
    background-color: #693;
    color: #253;
    font: 75%/75% "Courier" monospace;
    height: 2em;
    width: 10em;
    border-top: solid .25em #9c6;
    border-left: solid .25em #9c6;
    border-bottom: solid .25em #360;
    border-right: solid .25em #360;
    margin: 1em;
}

#instructions {
    font-size: smaller;
    text-align: left;
    padding: 0 2em;
}

/* RIGHT SIDEBAR STYLING DURING GAMEPLAY */
#alphabet > div {
    float: left;
    font-size: xx-large;
    padding: 0 .5em .75em .75em;
}

#alphabet, .guess {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: crosshair;
}

#alpha-instruct {
    display: block;
    font-size: smaller;
    font-style: italic;
    padding: 2em 0 0 0;
}

#reset-alphas {
    color: #9f9;
    font-size: large;
    font-style: normal;
    padding: 1em 1em 0 1em;
    cursor: pointer;
    clear: left;
}
